.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-color: #323232;
}

.stopwatch{
  font-size: 6vw;
  color: #fff;
}

.buttons button{
  width: 10vw;
  margin: 1vw;
  font-size: 1.2vw;
  font-weight: 900;
  text-transform: uppercase;
  color: #323232;
  height: 3vw;
  background-color: #fff;
  border-radius: 1vw;
}

.buttons button:hover{
  cursor: pointer;
}

.buttons .start-btn{
  background-color: #75c45f;
}

.buttons .stop-btn{
  background-color: #bf6565;
}